---
---

@import "{{ site.theme }}";

body {
    color: #000;
}
a:hover {
    text-decoration: underline;
    font-weight: normal;
}
#submit-form {
    border: 1px solid #e5e5e5;
    padding: 20px;
    margin-block-end: 1em;
}
#submit-form label{
    margin: 5px 5px 5px 0;
    padding: 5px;
    min-width: 100px;
    display: inline-block;
    vertical-align: top;
}
#submit-form input,
#submit-form textarea {
    display: inline-block;
    min-width: 200px;
    margin: 5px 0;
    padding: 5px;
    vertical-align: text-top;
}
#submit-form #submit-button {
    padding: 5px;
    min-width: 100px;
    margin: 10px;
}
